<div class="rectangle" id="slot1">
  <% if !player1.nil? %>
    <%= image_tag(player1.image_url, class: "card1-img", id: "1", width: '150', height: '200') %>
  <% end %>
</div>

<div class="rectangle" id="slot2">
  <% if !player2.nil? %>
    <%= image_tag(player2.image_url, class: "card1-img", id: "1", width: '150', height: '200') %>
  <% end %>    
</div>

<div class="rectangle" id="slot3">
  <% if !player3.nil? %>
    <%= image_tag(player3.image_url, class: "card1-img", id: "1", width: '150', height: '200') %>
  <% end %>       
</div>

<div class="rectangle" id="slot4">
  <% if !player4.nil? %>
    <%= image_tag(player4.image_url, class: "card1-img", id: "1", width: '150', height: '200') %>
  <% end %>       
</div>