All Squads

<% @squads.each do |squad| %>
  <p>
    Squad name:
    <%= link_to squad.name, squad_path(squad) %>
  </p>
  <p>
    Squad formation:
    <%= squad.formation %>
  </p>
<% end %>

<%= link_to "new suqad", new_squad_path %>