<div class="card1">
  <%= image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMLh83UoTe8qP8fx6jX5QLePiHeAwn5TrCB7dW26LfzoajH2lJuw", class: "card1-img", width: '20', height: '20') %>
</div>

<div class="card2">
  <%= image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMLh83UoTe8qP8fx6jX5QLePiHeAwn5TrCB7dW26LfzoajH2lJuw", width: '200', height: '200') %>
</div>

