<div>
  Team: <%= @squad.name %>    
</div>

<div>
  Formation: <%= @squad.formation %>
</div>

<%= render partial: 'formation', locals: {player1: @slot1_player, player2: @slot2_player, player3: @slot3_player, player4: @slot4_player} %>